
#sidebar{
	background-color: lightgrey;

	height: 1500px;
}

#sidebar-title{

}

#sidebar-content{
	background-color: lightblue;
	height: 1500px;
	width: 75%;
	text-align: left;
	padding-left: -60px;
}

#sidebar-item{
	padding: 8px 16px;
	float:left;
	width:auto;	
	position:static;
	text-align: center;
	
	white-space:normal;
	display:block;
	text-align:left;
	border:none;
	outline:none;
	float:none
}

#sidebar-footer{
	margin-left: -15px;
	margin-right:-15px;
}
/*
.panel .panel-default .panel-body{
background-color: orange;
}

.sidebar-body{
	background-color: lightblue;
	height: 100%;
	width: inherit;
	position:fixed!important;
	overflow:hidden;
}

.sidebar-leftpanel{
	background-color: lightgreen;
	width:150px;
	height: 100%;
	z-index:1;

}


.baritem{
	padding: 8px 16px;
	float:left;
	width:auto;	
	position:static;
	text-align: center;
	
	white-space:normal;
	display:block;
	text-align:left;
	border:none;
	outline:none;
	float:none
}


.sidebar-content{

	background-color: lightblue;
	margin-left: 25%;
	height: 100%;
}
*/

 /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}